fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pydantic-settings
alembic
python-multipart
email-validator
pandas
joblib
scikit-learn==1.7.2